#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
  }
  
  .site-layout-background {
    background: #fff;
  }
  .logo-admin{
    /* margin: auto; */
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: top;
    height: 32px;
    width:8.5%;
    background-image: url('https://stg.sso.fafu.com.vn/auth/resources/vpytb/login/keycloak/img/logo-vimc.png');
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-right{
    display: flex;
    align-items: center;
  }
  .user-name{
    color: #fff;
  }
  .log-out{
    text-align: center;
  }
  .ant-layout-content {
    flex: auto;
    min-height: 700px !important;
    /* height: 700px !important; */
}